.Wrapper {
  background-color: white;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid #DADCE0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
}

.Container, .Form {
  display: flex;
  align-items: center;
}

.Container {
  width: 450px;
}

.Form {
  width: 100%;
}

@media (max-width: 500px) {
  .Wrapper {
    flex-grow: 1;
  }

  .Container {
    margin: 8px;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 8px;
    width: initial;
  }
}

.MenuButton,
.SearchButton {
  padding: 0 10px;
  outline: none;
}

.SearchButton {
  height: 52px;
}

.Query {
  border: none;
  flex: 1;
}

.Spinner {
  margin-right: 8px;
}
