.Wrapper {
  display: flex;
  margin-left: 10px;
}

.ButtonWrapper {
  background-color: #fff;
  border: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
}

.Content {
  width: 200px;
}
