.Wrapper {
  width: 400px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 12px;
  background-color: white;
  margin: 0 8px 8px 0;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid #DADCE0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.6), 0 -1px 0px rgba(0,0,0,0.06);
}

.Container {
  display: flex;
  flex-direction: column;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Title {
  font-size: 14px;
  margin-right: 15px;
}

.Header, .Form {
  margin-bottom: 10px;
}

.Form {
  display: flex;
  font-size: 14px;
}

.Field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.TextField {
  width: 180px;
}

.TextField input:disabled {
  background-color: white;
  opacity: 1;
}

.TextField, .Select {
  margin-left: 15px;
}

.Select {
  width: 182px;
}

.Search {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.Search img {
  width: 50px;
}

@media (max-width: 500px) {
  .Wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }

  .Container {
    margin: 8px;
    width: initial;
  }
}
